@import "~@angular/material/theming";

mat-option {
  background-color: mat-color($mat-red, 300);
}

mat-divider {
  border-top-color: white;
}

h1 {
  color: white
}

h3 {
  color: white;
}

#container {
  max-width: 40vh;
  height: auto;
}