<div fxLayout="column">
  <div>
    <h1>Buscador de Héroes</h1>
    <mat-divider></mat-divider>
  </div>
  <div fxLayout="column">
    <h3>Buscador</h3>

    <mat-form-field appearance="fill">
      <mat-label>Text</mat-label>
      <input type="text" 
            placeholder="Pick one" 
            aria-label="Number" 
            matInput
            [(ngModel)]="term"
            [matAutocomplete]="auto"
            (input)="searching()">

      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="selectedOption($event)">
        <mat-option *ngFor="let hero of heroes" [value]="hero">
          {{hero.superhero}}
        </mat-option>
        <mat-option value="" *ngIf="heroes.length === 0 && term.trim().length > 0">No se encontro nada con el termino {{term}}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div *ngIf="selectedHero">
    <div id="container">
      <app-hero-card [hero]="selectedHero"></app-hero-card>
    </div>
  </div>
</div>
