@use '@angular/material' as mat;
@import "~@angular/material/theming";

$my-palette: mat.define-palette(mat.$indigo-palette);

.subToolbar {
  background: mat.get-color-from-palette($my-palette, 'darker');
  color: mat.get-color-from-palette($my-palette, 'darker-contrast');
 };

 .sidenav {
  background-color: mat-color($mat-teal, 600);
 }

.container {
  margin: 10px;
}