@import "~@angular/material/theming";

img {
  width: 100%;
  height: 60vh;
  border-radius: 5px;
};

mat-form-field {
  padding-bottom: 10px;
}

mat-error  {
  color: mat-color($mat-red, 300);
  font-size: 15px;
}
