@import "~@angular/material/theming";

mat-card {
  background-color: mat-color($mat-red, 300);
  color: mat-color($mat-red, 50);
  height: 100%;
}

.readMore {
  color: mat-color($mat-brown, 500)
}

p {
  word-wrap: break-word;
}