@use '@angular/material' as mat;

@function mat-set-background($theme, $backgroundColor) {
  $palette-color : map-get($theme, color);
  $background: map-get($palette-color, background);
  $background: map_merge($background, (background: $backgroundColor));
  $palette-color: map_merge($palette-color, (background: $background));
  @return map_merge($theme, (color: $palette-color));
}

$indigo-palette: mat.define-palette(mat.$indigo-palette);

$theme: mat.define-light-theme((
  color: (
    primary: $indigo-palette,
    accent: $indigo-palette
  )
));

$theme: mat-set-background($theme, #009688);
@include mat.all-component-themes($theme);